/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic");
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 42, ../_sass/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 28, ../_sass/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 32, ../_sass/grid.scss */
body:after {
  clear: both;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/*
Thin 100       - Thin 100 Italic
Light 300      - Light 300 Italic
Normal 400     - Normal 400 Italic
Medium 500     - Medium 500 Italic
Bold 700       - Bold 700 Italic
Extra-Bold 800 - Extra-Bold 800 Italic
Ultra-Bold 900 - Ultra-Bold 900 Italic
 */
/* line 21, ../_sass/typography.scss */
body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
  color: #eeeeee;
  background-color: #111111;
}

/* line 29, ../_sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}

/* line 34, ../_sass/typography.scss */
h1 {
  font-size: 1.963em;
  line-height: 2.618em;
}

/* line 39, ../_sass/typography.scss */
h2 {
  font-size: 1.618em;
  line-height: 1.963em;
}

/* line 44, ../_sass/typography.scss */
h3 {
  font-size: 1.214em;
  line-height: 1.618em;
}

/* line 49, ../_sass/typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.214em;
}

/* line 54, ../_sass/typography.scss */
h5 {
  font-size: 0.75em;
  line-height: 1em;
}

/* line 59, ../_sass/typography.scss */
h6 {
  font-size: 0.618em;
  line-height: 0.75em;
}

/* line 64, ../_sass/typography.scss */
p {
  font-size: 1.1em;
  line-height: 1.214em;
  margin-bottom: 0.618em;
}

/* line 70, ../_sass/typography.scss */
.black {
  color: #111111;
}

/* line 74, ../_sass/typography.scss */
.white {
  color: #eeeeee;
}

/* line 78, ../_sass/typography.scss */
.gray {
  color: #cccccc;
}

/* line 82, ../_sass/typography.scss */
.content {
  color: #eeeeee;
}

/**/
/* element Styles */
/* line 16, ../_sass/app.scss */
body {
  display: block;
}

/* line 20, ../_sass/app.scss */
nav {
  text-align: right;
}
/* line 23, ../_sass/app.scss */
nav li {
  display: inline-block;
  padding: 10px;
}
/* line 28, ../_sass/app.scss */
nav a {
  color: #eeeeee;
}

/* line 31, ../_sass/app.scss */
img {
  max-width: 100%;
}

/* line 35, ../_sass/app.scss */
a {
  text-decoration: none;
  color: #ccc;
}

/* customized styles */
/* line 42, ../_sass/app.scss */
.hp-site {
  display: block;
  width: 91.875%;
  margin: 0 -0.9375%;
  *zoom: 1;
  margin: 0 auto;
}
/* line 28, ../_sass/grid.scss */
.hp-site:before, .hp-site:after {
  content: "";
  display: table;
}
/* line 32, ../_sass/grid.scss */
.hp-site:after {
  clear: both;
}

/* line 48, ../_sass/app.scss */
.site {
  display: block;
  width: 81.66667%;
  margin: 0 -0.83333%;
  *zoom: 1;
  margin: 0 auto;
}
/* line 28, ../_sass/grid.scss */
.site:before, .site:after {
  content: "";
  display: table;
}
/* line 32, ../_sass/grid.scss */
.site:after {
  clear: both;
}

/* line 55, ../_sass/app.scss */
.hp-content {
  margin: 0 auto;
}

/* line 59, ../_sass/app.scss */
.content {
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px 20px;
  background-color: rgba(2, 2, 2, 0.2);
  min-height: 600px;
  border-radius: 15px 15px 0px 0px;
}

/* line 82, ../_sass/app.scss */
#hp {
  background-image: url("/img/half-white.png"), url("/img/black.jpg");
  background-size: 91.6%;
  background-repeat: repeat-y;
}

/* line 92, ../_sass/app.scss */
.logo {
  max-width: 75%;
  display: block;
  position: absolute;
  top: 15%;
  left: 16.7%;
}
