/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,400italic,500italic,700italic");
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 42, ../_sass/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 28, ../_sass/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 32, ../_sass/_grid.scss */
body:after {
  clear: both;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/*
Thin 100       - Thin 100 Italic
Light 300      - Light 300 Italic
Normal 400     - Normal 400 Italic
Medium 500     - Medium 500 Italic
Bold 700       - Bold 700 Italic
Extra-Bold 800 - Extra-Bold 800 Italic
Ultra-Bold 900 - Ultra-Bold 900 Italic
 */
/* line 21, ../_sass/_typography.scss */
body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
  color: #111111;
  background-color: #fff;
}

/* line 29, ../_sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}

/* line 34, ../_sass/_typography.scss */
h1 {
  font-size: 1.963em;
  line-height: 2.618em;
}

/* line 39, ../_sass/_typography.scss */
h2 {
  font-size: 1.618em;
  line-height: 1.963em;
}

/* line 44, ../_sass/_typography.scss */
h3 {
  font-size: 1.214em;
  line-height: 1.618em;
}

/* line 49, ../_sass/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.214em;
}

/* line 54, ../_sass/_typography.scss */
h5 {
  font-size: 0.75em;
  line-height: 1em;
}

/* line 59, ../_sass/_typography.scss */
h6 {
  font-size: 0.618em;
  line-height: 0.75em;
}

/* line 64, ../_sass/_typography.scss */
p {
  font-size: 1.1em;
  line-height: 1.214em;
  margin-bottom: 0.618em;
}

/* custom classes  */
/* line 72, ../_sass/_typography.scss */
.black {
  color: #111111;
}

/* line 76, ../_sass/_typography.scss */
.white {
  color: #eeeeee;
}

/* line 80, ../_sass/_typography.scss */
.gray {
  color: #cccccc;
}

/* line 84, ../_sass/_typography.scss */
.content {
  color: #111111;
}

/* element styling  */
/* line 91, ../_sass/_typography.scss */
header {
  background-color: #111111;
}

/* line 93, ../_sass/_typography.scss */
a {
  text-decoration: none;
  color: #ccc;
}

/* line 98, ../_sass/_typography.scss */
a:hover {
  color: #828282;
}

/* navbar */
/* line 105, ../_sass/_typography.scss */
nav a {
  text-align: center;
  text-decoration: none;
  color: #cccccc;
  border-bottom: 1px solid #eeeeee;
  background-color: #111111;
}
/* line 113, ../_sass/_typography.scss */
nav a:hover {
  background-color: #8c8c8c;
  color: #eeeeee;
}

/* line 119, ../_sass/_typography.scss */
#menu {
  font-size: 2em;
  color: #cccccc;
  text-align: right;
}

/* footer / social media buttons */
/* line 127, ../_sass/_typography.scss */
.sm {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

/* line 138, ../_sass/_typography.scss */
.sm:hover {
  -webkit-filter: grayscale(0);
}

/* filter */
/* line 145, ../_sass/_typography.scss */
.filter {
  border: 0px solid #111111;
  border-radius: 25px;
  background-color: #cccccc;
}

/* in motion */
/* line 157, ../_sass/_typography.scss */
.article {
  color: #b3b3b3;
}
/* line 161, ../_sass/_typography.scss */
.article a {
  color: #444444;
  font-size: 1.333em;
}
/* line 166, ../_sass/_typography.scss */
.article a:hover {
  color: #5e5e5e;
}

/* contact */
/* line 173, ../_sass/_typography.scss */
form {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: solid 1px #ccc;
  font: 1.1em 'Alegreya Sans', sans-serif;
  color: #333;
}

/* line 183, ../_sass/_typography.scss */
.field-row label {
  vertical-align: top;
}
/* line 187, ../_sass/_typography.scss */
.field-row input, .field-row textarea {
  vertical-align: top;
  border: solid 1px #ccc;
  border-radius: 5px;
}

/* line 195, ../_sass/_typography.scss */
#btn-submit #ss-submit {
  background-color: #404040;
  color: #eeeeee;
  border: 0px solid #111111;
  border-radius: 5px;
  font: 1em 'Alegreya Sans', sans-serif;
}

/* line 204, ../_sass/_typography.scss */
#thanks {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: #21a532;
}

/* element Styles */
/* line 11, ../_sass/_base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 16, ../_sass/_base.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 21, ../_sass/_base.scss */
nav {
  display: none;
}
/* line 24, ../_sass/_base.scss */
nav a {
  display: block;
  width: 100%;
  padding: 10px 0px;
}

/* line 31, ../_sass/_base.scss */
header {
  display: block;
  max-width: 100%;
}

/* line 39, ../_sass/_base.scss */
img {
  max-width: 100%;
}

/* line 43, ../_sass/_base.scss */
.footer {
  text-align: center;
}

/* site customized styles */
/* line 14, ../_sass/app.scss */
.site {
  margin: 0 auto;
}

/* line 19, ../_sass/app.scss */
.content {
  display: block;
  padding: 0% 3%;
  margin: 0 auto;
  margin-top: 10px;
  min-height: 580px;
}

/* line 29, ../_sass/app.scss */
#menu {
  display: block;
  padding: 0px 5px;
}

@media (min-width: 768px) {
  /* line 35, ../_sass/app.scss */
  nav {
    display: block;
    padding: 10px 5px;
    text-align: right;
  }
  /* line 39, ../_sass/app.scss */
  nav a {
    width: auto;
    display: inline-block;
    border-bottom: none;
    background: transparent;
    padding: 10px 15px;
  }

  /* line 48, ../_sass/app.scss */
  .logo {
    top: 10%;
  }

  /* line 52, ../_sass/app.scss */
  #menu {
    display: none;
  }
}
/* line 60, ../_sass/app.scss */
section {
  margin-bottom: 10px;
}

/* line 64, ../_sass/app.scss */
.portrait, .bio {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* line 68, ../_sass/app.scss */
.portrait {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  /* line 73, ../_sass/app.scss */
  .portrait {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
  }

  /* line 77, ../_sass/app.scss */
  .bio {
    display: inline;
    float: left;
    width: 64.58333%;
    margin: 0 1.04167%;
  }
}
/* masonry */
/* line 86, ../_sass/app.scss */
#container {
  margin: 0 auto;
  padding-left: 40px;
}

/* line 91, ../_sass/app.scss */
.item {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* line 98, ../_sass/app.scss */
#fit-width .masonry {
  margin: 0 auto;
}

/* filter */
/* line 104, ../_sass/app.scss */
#filter {
  display: none;
  margin-left: 5px;
}

/* line 110, ../_sass/app.scss */
.filter {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 5px;
  margin-left: 5px;
}

/* line 125, ../_sass/app.scss */
.article a {
  display: block;
  padding-bottom: 5px;
}

/* line 138, ../_sass/app.scss */
.details, .form-wrap {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* line 142, ../_sass/app.scss */
.details {
  padding-bottom: 15px;
}

/* line 146, ../_sass/app.scss */
form {
  padding: 10px 15px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 153, ../_sass/app.scss */
.field-row {
  margin: 10px 0px;
}
/* line 156, ../_sass/app.scss */
.field-row label {
  display: inline-block;
  padding-top: 8px;
  width: 100%;
}
/* line 162, ../_sass/app.scss */
.field-row input, .field-row textarea {
  width: 98%;
  padding: 10px 5px;
  margin-left: 2px;
}
/* line 168, ../_sass/app.scss */
.field-row textarea {
  min-height: 150px;
  margin-bottom: 10px;
}

/* line 174, ../_sass/app.scss */
#btn-submit {
  display: block;
  width: 102.08333%;
  margin: 0 -1.04167%;
  *zoom: 1;
}
/* line 28, ../_sass/_grid.scss */
#btn-submit:before, #btn-submit:after {
  content: "";
  display: table;
}
/* line 32, ../_sass/_grid.scss */
#btn-submit:after {
  clear: both;
}
/* line 177, ../_sass/app.scss */
#btn-submit #ss-submit {
  margin-left: 76.04167%;
  padding: 10px 15px;
}

/* line 183, ../_sass/app.scss */
#thanks {
  padding-top: 10px;
  display: none;
}

@media (min-width: 768px) {
  /* line 189, ../_sass/app.scss */
  .details {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
  }

  /* line 193, ../_sass/app.scss */
  .form-wrap {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
  }

  /* line 197, ../_sass/app.scss */
  form {
    max-width: 75%;
  }

  /* line 202, ../_sass/app.scss */
  .field-row label {
    width: 24%;
  }
  /* line 206, ../_sass/app.scss */
  .field-row input, .field-row textarea {
    width: 70%;
  }
}
