@import url("http://fonts.googleapis.com/css?family=Alegreya+SC:700,700italic");
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,400italic,500italic");
/* line 17, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ********* */
/*  FONTS
/* ********* */
/* ********* */
/*  COLORS
/* ********* */
/* BASE STYLES */
/* line 3, ../_sass/_base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 8, ../_sass/_base.scss */
body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  color: #111111;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

/* line 19, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Alegreya SC", serif;
}

/* line 23, ../_sass/_base.scss */
h1 {
  font-size: 1.963em;
  line-height: 2.618em;
}

/* line 28, ../_sass/_base.scss */
h2 {
  font-size: 1.618em;
  line-height: 1.963em;
}

/* line 33, ../_sass/_base.scss */
h3 {
  font-size: 1.214em;
  line-height: 1.618em;
}

/* line 38, ../_sass/_base.scss */
h4 {
  font-size: 1em;
  line-height: 1.214em;
}

/* line 43, ../_sass/_base.scss */
h5 {
  font-size: 0.75em;
  line-height: 1em;
}

/* line 48, ../_sass/_base.scss */
h6 {
  font-size: 0.618em;
  line-height: 0.75em;
}

/* line 53, ../_sass/_base.scss */
p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.214em;
  margin-bottom: 0.618em;
}

/* line 60, ../_sass/_base.scss */
a {
  text-decoration: none;
  color: #cccccc;
}
/* line 63, ../_sass/_base.scss */
a:hover {
  color: #cccccc;
}

/* line 68, ../_sass/_base.scss */
li {
  list-style-type: none;
}

/* line 72, ../_sass/_base.scss */
img {
  max-width: 100%;
}

/* line 10, ../_sass/home.scss */
body {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../img/backgrounds/half-white.png"), url("../img/backgrounds/black.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  text-align: center;
}

/* line 20, ../_sass/home.scss */
#menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 25px;
  margin: 5px 5px 0px 0px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  padding-top: 7px;
}

/* line 32, ../_sass/home.scss */
.bar {
  width: 28px;
  height: 2px;
  background-color: #cccccc;
  margin: 0 auto;
  margin-bottom: 5px;
}

/* line 40, ../_sass/home.scss */
header {
  background: transparent;
}

/* line 44, ../_sass/home.scss */
#title {
  font-size: 2em;
  font-weight: 700;
  font-style: bold;
}
/* line 49, ../_sass/home.scss */
#title #image {
  color: #111111;
}
/* line 50, ../_sass/home.scss */
#title #consultant {
  color: rgba(255, 255, 255, 0.95);
}

/* line 53, ../_sass/home.scss */
#sm-wrapper {
  background: transparent;
}
/* line 56, ../_sass/home.scss */
#sm-wrapper .sm {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  /* line 63, ../_sass/home.scss */
  nav {
    display: block;
    padding: 10px 0px;
  }
  /* line 68, ../_sass/home.scss */
  nav a {
    width: auto;
    display: inline-block;
    border-bottom: none;
    background: transparent;
    padding: 10px 15px;
  }

  /* line 77, ../_sass/home.scss */
  #menu {
    display: none;
  }
}
/* line 82, ../_sass/home.scss */
#logo-wrapper {
  max-width: 75% !important;
  margin-left: 16.3%;
}
