@import url("http://fonts.googleapis.com/css?family=Alegreya+SC:700,700italic");
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,400italic,500italic");
/* line 17, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ********* */
/*  FONTS
/* ********* */
/* ********* */
/*  COLORS
/* ********* */
/* line 1, ../_sass/_color.scss */
.header {
  background-color: #111111;
}

/* line 5, ../_sass/_color.scss */
section {
  background-color: rgba(255, 255, 255, 0.95);
}

/* BASE STYLES */
/* line 3, ../_sass/_base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 8, ../_sass/_base.scss */
body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  color: #111111;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

/* line 19, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Alegreya SC", serif;
}

/* line 23, ../_sass/_base.scss */
h1 {
  font-size: 1.963em;
  line-height: 2.618em;
}

/* line 28, ../_sass/_base.scss */
h2 {
  font-size: 1.618em;
  line-height: 1.963em;
}

/* line 33, ../_sass/_base.scss */
h3 {
  font-size: 1.214em;
  line-height: 1.618em;
}

/* line 38, ../_sass/_base.scss */
h4 {
  font-size: 1em;
  line-height: 1.214em;
}

/* line 43, ../_sass/_base.scss */
h5 {
  font-size: 0.75em;
  line-height: 1em;
}

/* line 48, ../_sass/_base.scss */
h6 {
  font-size: 0.618em;
  line-height: 0.75em;
}

/* line 53, ../_sass/_base.scss */
p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.214em;
  margin-bottom: 0.618em;
}

/* line 60, ../_sass/_base.scss */
a {
  text-decoration: none;
  color: #cccccc;
}
/* line 63, ../_sass/_base.scss */
a:hover {
  color: #cccccc;
}

/* line 68, ../_sass/_base.scss */
li {
  list-style-type: none;
}

/* line 72, ../_sass/_base.scss */
img {
  max-width: 100%;
}

/* shared styles */
/* line 11, ../_sass/main.scss */
body {
  background: url("../img/backgrounds/bg.png") repeat fixed center;
}

/* line 16, ../_sass/main.scss */
.header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  display: block;
  max-width: 100%;
  padding-bottom: 25px;
}
/* line 23, ../_sass/main.scss */
.header .logo {
  display: block;
  margin: 0 auto;
}
/* line 28, ../_sass/main.scss */
.header .line {
  margin-top: -25px;
  border-bottom: 1px solid #555555;
}
/* line 33, ../_sass/main.scss */
.header #menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 25px;
  margin: 5px 5px 0px 0px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  padding-top: 7px;
}
/* line 45, ../_sass/main.scss */
.header .bar {
  width: 28px;
  height: 2px;
  background-color: #cccccc;
  margin: 0 auto;
  margin-bottom: 5px;
}

/* line 54, ../_sass/main.scss */
nav {
  display: none;
  padding-top: 10px;
}
/* line 57, ../_sass/main.scss */
nav a {
  display: block;
  width: 100%;
  padding: 12px 0px;
  text-align: center;
  border-bottom: 1px solid #555555;
}

/* line 66, ../_sass/main.scss */
.content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 70, ../_sass/main.scss */
section {
  padding: 8px;
  text-align: justify;
}
/* line 74, ../_sass/main.scss */
section h1 {
  text-align: center;
}

/* line 79, ../_sass/main.scss */
.footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 100%;
  text-align: center;
  background-color: #111111;
  color: #555555;
  padding: 10px 0;
}
/* line 87, ../_sass/main.scss */
.footer #sm-wrapper {
  margin-bottom: 10px;
}
/* line 91, ../_sass/main.scss */
.footer #sm-wrapper .sm-url img {
  width: 30px;
}

/* CLASSES */
/* line 114, ../_sass/main.scss */
#about {
  width: 87.30159%;
  float: left;
  margin-right: -100%;
  margin-left: 6.34921%;
  clear: none;
}
/* line 117, ../_sass/main.scss */
#about .portrait {
  padding: 5px 0;
}
/* line 120, ../_sass/main.scss */
#about .portrait img {
  display: block;
  margin: 0 auto;
  padding-bottom: 25	px;
}

/* line 130, ../_sass/main.scss */
#clients {
  width: 87.30159%;
  float: left;
  margin-right: -100%;
  margin-left: 6.34921%;
  clear: none;
  text-align: center;
}

/* isotope */
/* line 138, ../_sass/main.scss */
#container {
  margin: 0 auto;
  padding-left: 40px;
}

/* line 143, ../_sass/main.scss */
.item {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* line 150, ../_sass/main.scss */
.button-group {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  max-width: 90%;
  text-align: center;
}
/* line 157, ../_sass/main.scss */
.button-group li {
  display: inline-block;
}
/* line 159, ../_sass/main.scss */
.button-group button {
  min-width: 125px;
  padding: 10px 8px;
  font-size: 0.8em;
  font-weight: 700;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  text-transform: uppercase;
}
/* line 170, ../_sass/main.scss */
.button-group button:hover {
  background-color: #333;
  color: #fff;
}

/* line 178, ../_sass/main.scss */
#inmotion {
  width: 87.30159%;
  float: left;
  margin-right: -100%;
  margin-left: 6.34921%;
  clear: none;
}

/* line 182, ../_sass/main.scss */
.article {
  padding-bottom: 15px;
}
/* line 184, ../_sass/main.scss */
.article a {
  display: block;
  padding-bottom: 5px;
}

/* line 192, ../_sass/main.scss */
.art-logo {
  vertical-align: middle;
}

/* masonry */
/* line 200, ../_sass/main.scss */
#page-gallery {
  width: 87.30159%;
  float: left;
  margin-right: -100%;
  margin-left: 6.34921%;
  clear: none;
}

/* line 204, ../_sass/main.scss */
#gallery {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 7%;
  /* 40px; */
}

/* line 211, ../_sass/main.scss */
.picture {
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: -3px;
}

/* line 217, ../_sass/main.scss */
#fit-width .masonry {
  margin: 0 auto;
}

/* line 223, ../_sass/main.scss */
#contact {
  width: 87.30159%;
  float: left;
  margin-right: -100%;
  margin-left: 6.34921%;
  clear: none;
}

/* line 227, ../_sass/main.scss */
.details {
  text-align: center;
}

/* line 231, ../_sass/main.scss */
.details {
  padding-bottom: 15px;
}

/* line 235, ../_sass/main.scss */
form {
  padding: 10px 15px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 242, ../_sass/main.scss */
.field-row {
  margin: 10px 0px;
}
/* line 245, ../_sass/main.scss */
.field-row label {
  display: inline-block;
  padding-top: 8px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 254, ../_sass/main.scss */
.field-row input, .field-row textarea {
  width: 98%;
  padding: 10px 5px;
  margin-left: 2px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}
/* line 262, ../_sass/main.scss */
.field-row textarea {
  min-height: 150px;
  margin: 10px 0;
}

/* line 268, ../_sass/main.scss */
#ss-submit {
  width: 100%;
  border: 1px solid #bfbfbf;
  background-color: #cccccc;
  color: #111111;
  border-radius: 6px;
  font-size: 1em;
  padding: 5px 0;
}
/* line 277, ../_sass/main.scss */
#ss-submit:hover {
  background-color: #111111;
  color: #eeeeee;
}

/* line 283, ../_sass/main.scss */
#thanks {
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  color: green;
  font-size: 1em;
  display: none;
}
