/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic");
/*
Thin 100       - Thin 100 Italic
Light 300      - Light 300 Italic
Normal 400     - Normal 400 Italic
Medium 500     - Medium 500 Italic
Bold 700       - Bold 700 Italic
Extra-Bold 800 - Extra-Bold 800 Italic
Ultra-Bold 900 - Ultra-Bold 900 Italic
 */
/* line 21, ../_sass/typography.scss */
body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
  color: #eeeeee;
  background-color: #111111;
}

/* line 29, ../_sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}

/* line 34, ../_sass/typography.scss */
h1 {
  font-size: 1.963em;
  line-height: 2.618em;
}

/* line 39, ../_sass/typography.scss */
h2 {
  font-size: 1.618em;
  line-height: 1.963em;
}

/* line 44, ../_sass/typography.scss */
h3 {
  font-size: 1.214em;
  line-height: 1.618em;
}

/* line 49, ../_sass/typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.214em;
}

/* line 54, ../_sass/typography.scss */
h5 {
  font-size: 0.75em;
  line-height: 1em;
}

/* line 59, ../_sass/typography.scss */
h6 {
  font-size: 0.618em;
  line-height: 0.75em;
}

/* line 64, ../_sass/typography.scss */
p {
  font-size: 1em;
  line-height: 1.214em;
  margin-bottom: 0.618em;
}

/* line 70, ../_sass/typography.scss */
.black {
  color: #111111;
}

/* line 74, ../_sass/typography.scss */
.white {
  color: #eeeeee;
}

/* line 78, ../_sass/typography.scss */
.gray {
  color: #cccccc;
}

/* line 82, ../_sass/typography.scss */
.content {
  color: #111111;
}
