
<ul>
	<li><a href="https://www.facebook.com/DIORSOVOACELEBRITYHAIRSTYLIST"><img class="sm" src="{{site.baseurl}}/img/fb.png"></a></li>
	<li><a href="#"><img class="sm" src="{{site.baseurl}}/img/twttr.png"></a></li>
	<li><a href="#"><img class="sm" src="{{site.baseurl}}/img/insta.png"></a></li>
	<li><a href="#"><img class="sm" src="{{site.baseurl}}/img/pntrst.png"></a></li>
	<li><a href="#"><img class="sm" src="{{site.baseurl}}/img/g+.png"></a></li>
	<li><a href="#"><img class="sm" src="{{site.baseurl}}/img/lnkdn.png"></a></li>
	<li><a href="#"><img class="sm" src="{{site.baseurl}}/img/yt.png"></a></li>
</ul>