<a href="https://www.facebook.com/DIORSOVOACELEBRITYHAIRSTYLIST"><img class="sm" src="{{site.baseurl}}/img/soc-media/facebook.png"></a>
<a href="https://twitter.com/SoOvaSOVOA"><img class="sm" src="{{site.baseurl}}/img/soc-media/twitter.png"></a>
<a href="http://instagram.com/diorsovoa"><img class="sm" src="{{site.baseurl}}/img/soc-media/instagram.png"></a>
<a href="#"><img class="sm" src="{{site.baseurl}}/img/soc-media/pintrest.png"></a>
<a href="#"><img class="sm" src="{{site.baseurl}}/img/soc-media/gplus.png"></a>
<a href="#"><img class="sm" src="{{site.baseurl}}/img/soc-media/linkedin.png"></a>
<a href="#"><img class="sm" src="{{site.baseurl}}/img/soc-media/youtube.png"></a>