<div id="sm-wrapper">
	<a class="sm-url" href="https://www.facebook.com/DIORSOVOACELEBRITYHAIRSTYLIST">
    <img class="sm" src="{{site.baseurl}}/img/soc-media/facebook.png">
  </a>
	<a class="sm-url" href="https://twitter.com/SoOvaSOVOA">
    <img class="sm" src="{{site.baseurl}}/img/soc-media/twitter.png">
  </a>
	<a class="sm-url" href="http://instagram.com/diorsovoa">
    <img class="sm" src="{{site.baseurl}}/img/soc-media/instagram.png">
  </a>
	<a class="sm-url" href="#">
    <img class="sm" src="{{site.baseurl}}/img/soc-media/pintrest.png">
  </a>
	<a class="sm-url" href="https://plus.google.com/100072773849316925866/posts">
    <img class="sm" src="{{site.baseurl}}/img/soc-media/gplus.png">
  </a>
	<a class="sm-url" href="https://www.linkedin.com/pub/dior-sovoa/42/544/177">
    <img class="sm" src="{{site.baseurl}}/img/soc-media/linkedin.png">
  </a>
	<a class="sm-url" href="#">
    <img class="sm" src="{{site.baseurl}}/img/soc-media/youtube.png">
  </a>
</div>
