
@import "compass/reset";
@import "breakpoint";
@import "grid";
@import "typography";

////// GENERAL STYLING /////

/* element Styles */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

nav {
  display: none;

  a {
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
}

header {
  display: block;
  max-width: 100%;
}

/////////


img  {
	max-width: 100%;
}

.footer {
	display: block;
	margin: 0 auto;
	width: 350px;

	ul  {
		display: block;
		margin: 0 auto;

		li {
			display: inline-block;
			padding: 3px;
		}
	}
}


