/* ********* */
/*  FONTS
/* ********* */

@import url("http://fonts.googleapis.com/css?family=Alegreya+SC:700,700italic");
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,400italic,500italic");

$font-sans-header: 'Alegreya SC', serif;
$font-sans-body: 'Alegreya Sans', sans-serif;

/* ********* */
/*  COLORS
/* ********* */

$purewhite: rgba(255, 255, 255, 0.95);
$white: #eee;
$black: #111;
$gray: #ccc;
$darkgray: #555;
