/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



////// GENERAL STYLING /////
@import "base";


/* site customized styles */

.site {
	$total-width: 100%;
	margin: 0 auto;
}

.content {
  display: block;
  padding: 0% 3%;
	margin: 0 auto;
	margin-top: 10px;
	// background-color: rgba(2, 2, 2, 0.2);

	min-height: 580px;
}

#menu {
	display: block;
  padding: 0px 5px;
}

@media(min-width: 768px) {
  nav {
    display: block;
    padding: 10px 5px;
    text-align: right;
    a {
      width: auto;
      display: inline-block;
      border-bottom: none;
      background: transparent;
      padding: 10px 15px;
    }
  }

  .logo {
    top: 10%;
  }

  #menu {
		display: none;
	}
}

.sm {
	width: 40px;
}
////// ABOUT PAGE SPECIFIC /////

section {
	margin-bottom: 10px;
}

.portrait, .bio {
	@include column(12);
}

.portrait {
	padding-bottom: 15px;
}

@media(min-width: 768px) {
	.portrait {
		@include column(4);
	}

	.bio {
		@include column(8);
	}
}

////// CLIENT PAGE SPECIFIC /////

/* masonry */

#container {
	margin: 0 auto;
	padding-left: 40px;
}

.item {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#fit-width .masonry {
  margin: 0 auto;
}

/* filter */

#filter {
	display: none;
	// display: inline-block;
	margin-left: 5px;
}

.filter {
	display: inline-block;
	text-align: center;
	width: 100px;
	padding: 5px;
	margin-left: 5px;
}

////// MOTION PAGE SPECIFIC /////

#inmotion {

}

.article {

	a {
		display:block;
		padding-bottom: 5px;
	}

	padding-bottom: 15px;
}

////// GALLERY PAGE SPECIFIC /////

/* masonry */


/* masonry */

#gallery {
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left: 40px;
	// background-color: #ccc
}

.picture {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#fit-width .masonry {
  margin: 0 auto;
}

/* filter */

#filter {
	display: none;
	// display: inline-block;
	margin-left: 5px;
}

.filter {
	display: inline-block;
	text-align: center;
	width: 100px;
	padding: 5px;
	margin-left: 5px;
}

////// CONTACT PAGE SPECIFIC /////


.details, .form-wrap {
	@include column(12);
}

.details {
	padding-bottom: 15px;
}

form {
	padding: 10px 15px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.field-row {
	margin: 10px 0px;

	label {
		display: inline-block;
		padding-top: 8px;
		width: 100%;
	}

	input, textarea {
		width: 98%;
		padding: 10px 5px;
		margin-left: 2px;
	}

	textarea {
		min-height: 150px;
		margin-bottom: 10px;
	}
}

#btn-submit {
	@include row(12);

	#ss-submit {
		@include push($offset:9);
		padding: 10px 15px;
	}
}

#thanks {
	padding-top: 10px;
	display: none;
}

@media(min-width: 768px) {
	.details {
		@include column(6);
	}

	.form-wrap {
		@include column(6);
	}

	form {
		max-width: 75%;
	}

	.field-row {
		label {
			width: 24%;
		}

		input, textarea {
			width: 70%;
		}
	}
}
