/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



////// GENERAL STYLING /////
@import "base";

////// ABOUT PAGE SPECIFIC /////


////// CLIENT PAGE SPECIFIC /////

#details {
	@include column(6);
	padding-right: 20px;
}

form {
	@include column(6);
	background-color: #ddd;
	border-radius: 5px;
	border: solid 1px #ccc;
	padding: 10px 15px;
	font-size: 1.113em;
	color: #000;
}

.field-row {
	margin: 15px 0px;
	padding: 15px 0px;

	label {
		@include column(5);
		display: inline-block;
		vertical-align: middle;
		margin-top: 6px;
	}

	input, textarea {
		@include column(7);
		vertical-align: middle;
		width: 225px;
		padding: 10px 5px;
		border-radius: 5px;
		margin-left: 5px;
		border: solid 1px #ccc;
	}

	textarea {
		min-height: 200px;
		margin-bottom: 10px;
	}
}

#title{
	border-bottom: 1px solid 333;
}


////// MOTION PAGE SPECIFIC /////


////// GALLERY PAGE SPECIFIC /////


////// CONTACT PAGE SPECIFIC /////



////// HOME PAGE SPECIFIC /////



