@import "compass/reset";
@import "typography";
@import "base";

////// HOME PAGE SPECIFIC /////

body {
  display: inline-block;
  width: 100%;
  height: 100%;
	background-image: url("../img/half-white.png"), url("../img/black.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
}

#menu {
  display: block;
  padding: 0px 5px;
}

header { background: transparent; }

@media(min-width: 768px) {
  nav {
    display: block;
    padding: 10px 0px;
    text-align: right;
    a {
      width: auto;
      display: inline-block;
      border-bottom: none;
      background: transparent;
      padding: 10px 15px;
    }
  }

  .logo {
    top: 10%;
  }

  #menu {
    display: none;
  }
}

.logo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 8.6%;
  bottom: 0;
  right: 0;
  max-width: 85%;
  z-index: -1;
}

#sm-wrapper {
  background: transparent;

  .sm{
    width: 30px;
    height: 30px;
  }
}

.footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
