@import "singularitygs";
@import "compass/reset";
@import "variables";
// @import "_mixins";
// @import "_colors";
@import "base";

////// HOME PAGE SPECIFIC /////

body {
  display: inline-block;
  width: 100%;
  height: 100%;
	background-image: url("../img/backgrounds/half-white.png"), url("../img/backgrounds/black.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
  text-align: center;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 25px;
  margin: 5px 5px 0px 0px;
  border: 2px solid $gray;
  border-radius: 8px;
  padding-top: 7px;
}

.bar {
  width: 28px;
  height: 2px;
  background-color: $gray;
  margin: 0 auto;
  margin-bottom: 5px;
}

header {
  background: transparent;
}

#title {
  font-size: 2em;
  font-weight: 700;
  font-style: bold;

  #image { color: $black; }
  #consultant { color: $purewhite; }
}

#sm-wrapper {
  background: transparent;

  .sm{
    width: 30px;
    height: 30px;
  }
}

@media(min-width: 768px) {
  nav {
    display: block;
    padding: 10px 0px;
    // text-align: right;

    a {
      width: auto;
      display: inline-block;
      border-bottom: none;
      background: transparent;
      padding: 10px 15px;
    }
  }

  #menu {
    display: none;
  }
}

#logo-wrapper {
  max-width: 75% !important;
  margin-left: 16.3%;
}

// @media(min-width: 1200px) {
//   #logo-wrapper {
//     margin-top: 0;
//   }
// }

// @media(max-width: 1199px) {
//   #logo-wrapper {
//     margin-top: 5%;
//   }
// }

// @media screen and (max-width: 768px) {
//   #logo-wrapper {
//     margin-top: 16%;
//   }
// }

// @media screen and (max-width: 620px) {
//   #logo-wrapper {
//     margin-top: 24%;
//   }
// }

// @media screen and (max-width: 568px) {
//   #logo-wrapper {
//     margin-top: 28%;
//   }
// }

// @media screen and (max-width: 490px) {
//   #logo-wrapper {
//     margin-top: 30%;
//   }
// }

// @media screen and (max-width: 420px) {
//   #logo-wrapper {
//     margin-top: 46%;
//   }
// }



