<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <title>{{ site.name }}</title>
	  <meta name="viewport" content="width=device-width">

	  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/home.css">
	  <link href="{{site.baseurl}}/img/favicons.ico" rel="icon" type="image/x-icon" />
	</head>

	<body>
	  <div class="wrapper">
	  	<header>
	  		{% include nav.html %}
	  	</header>

	  	<div class="content">
		    {{ content }}
		  </div>

		  <footer class="footer">
        {% include footer.html %}
      </footer>
	  </div>

	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
    	$("#menu").click(function(){
			  $("nav").toggle();
			});
    </script>
	</body>
</html>
